In [58]:
import pandas as pd
import os
import time

In [6]:
os.getcwd()

'C:\\Users\\manis\\OneBillionChallenge\\One-Billion-Row-Challenge-Python\\Exploration'

In [15]:
#Tip1: loading data using nrow option
OneBill = pd.read_csv('Final/measurements.txt', nrows = 10, sep=";", header = None)

In [16]:
OneBill

                          0     1
0                    Múggia -99.1
1                   Rangoon -76.6
2                    Limbdi -79.3
3  Santa Maria Capua Vetere  42.4
4        Affoltern am Albis -18.1
5               Bellamkonda -82.8
6                 Killingly -73.1
7              Attleborough  40.4
8                Glen Ellyn   1.0
9                   Olintla -78.0

In [30]:
#Tip2: loading 10Million rows by explicitly setting datatype
OneBill_10Mill = pd.read_csv('Final/measurements.txt', sep =";", header = None, dtype = {0:object, 1:float}, nrows= 10000000 )

In [46]:
OneBill_10Mill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 152.6+ MB

In [50]:
#Tip3: loading 100Million rows by explicitily setting datatype - but pulling in dataypes using dictionary will be helpful if dataset has many columns
dtype_dic = {}
for key, value in OneBill.dtypes.items():
    dtype_dic[key] = value
print(dtype_dic)
OneBill_100Mill = pd.read_csv('Final/measurements.txt', nrows = 100000000, dtype=dtype_dic, header = None, sep =';')

{0: dtype('O'), 1: dtype('float64')}

In [51]:
OneBill_100Mill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 0 to 99999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB

In [55]:
#Tip4: Loading data using chunksize option and exploring it
for chunk in pd.read_csv('Final/measurements.txt', chunksize = 100000000, dtype=dtype_dic, header = None, sep =';'):
    print(chunk.info())
    print(chunk.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 0 to 99999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean   5.675158e-03
std    5.767574e+01
min   -9.990000e+01
25%   -4.990000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 100000000 to 199999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -2.036594e-03
std    5.768107e+01
min   -9.990000e+01
25%   -5.000000e+01
50%    0.000000e+00
75%    5.000000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 200000000 to 299999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -7.416156e-03
std    5.767350e+01
min   -9.990000e+01
25%   -5.000000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 300000000 to 399999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -7.781271e-03
std    5.767555e+01
min   -9.990000e+01
25%   -5.000000e+01
50%   -0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 400000000 to 499999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -1.379000e-05
std    5.767331e+01
min   -9.990000e+01
25%   -4.990000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 500000000 to 599999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -2.074108e-03
std    5.767683e+01
min   -9.990000e+01
25%   -5.000000e+01
50%   -0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 600000000 to 699999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -4.637067e-03
std    5.767322e+01
min   -9.990000e+01
25%   -4.990000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 700000000 to 799999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -9.900049e-03
std    5.767645e+01
min   -9.990000e+01
25%   -5.000000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 800000000 to 899999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean   8.220846e-03
std    5.768240e+01
min   -9.990000e+01
25%   -4.990000e+01
50%    0.000000e+00
75%    5.000000e+01
max    9.990000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000000 entries, 900000000 to 999999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       float64
dtypes: float64(1), object(1)
memory usage: 1.5+ GB
None
                  1
count  1.000000e+08
mean  -6.680859e-03
std    5.767988e+01
min   -9.990000e+01
25%   -5.000000e+01
50%    0.000000e+00
75%    4.990000e+01
max    9.990000e+01

In [56]:
#Tip5: Loading data using chunksize option and performing some calculations on this chunk using a function

# obtain cities with max temperature in that chunk, sort cities in ascending, pick city name, append only the first city to a list
l = [] # list to store cities with max temperature from each chunk
def set_max(c):
     x= c[c['temperature'] == c['temperature'].max()]['city'].sort_values().values
     l.append(x[0])
     print(l)
        
colnames = ['city', 'temperature']
for chunk in pd.read_csv('Final/measurements.txt', chunksize = 100000000, dtype=dtype_dic, header = None, sep =';',names = colnames):
    set_max(chunk)

['A Coruña']
['A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf', 'A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf', 'A Coruña', 'A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf', 'A Coruña', 'A Coruña', 'A Coruña', 'A Coruña']
['A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'Aadorf', 'A Coruña', 'A Coruña', 'A Coruña', 'A Coruña', 'A Coruña']

In [65]:
#Tip5: Loading data using chunksize option and performing some calculations on this chunk using a function

# obtain cities with max temperature in that chunk, sort cities in ascending, pick city name, append only the first city to a list
l = [] # list to store cities with max temperature from each chunk
def set_max(c):
     x = c['temperature'].max()
     print(x)
     l.append(x)

        
colnames = ['city', 'temperature']
start_time = time.time()
for chunk in pd.read_csv('Final/measurements.txt', chunksize = 100000000, dtype={0:object, 1:float}, header = None, sep =';',names = colnames):
    set_max(chunk)
    
# Measure the end time and calculate the duration
end_time = time.time()
duration = end_time - start_time

# Print the results
print(f"Maximum temperature: {max(l)}")
print(f"Time taken: {duration} seconds")

99.9
99.9
99.9
99.9
99.9
99.9
99.9
99.9
99.9
99.9
Maximum temperature: 99.9
Time taken: 711.2809362411499 seconds